logs
*.log
npm-debug.log*

node_modules
coverage
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor
android/.gradle/
android/app/build/
android/build/
android/local.properties
ios/App/build/
ios/App/Pods/
ios/App/Podfile.lock
ios/DerivedData/

# env
.env
.env.local
.env.*.local

# Jest
.jest-cache
